/*
    Name:     Atom One Dark by 
    Author:   Daniel Gamage
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/atom/one-dark-syntax
*/

:root {
  --hl-color: #abb2bf;
  --hl-bg: #282c34;
  --hltools-bg: #1f2329;
  --hltools-color: #fff;
  --hlnumber-bg: #1f232900;
  --hlnumber-color: rgba(238,255,255,0.5);
  --hlscrollbar-bg: #abb2bf4a;
  --hlexpand-bg: transparent;
}


code.hljs markdown{
  background: transparent!important;
}

#article-container figure.highlight .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: transparent;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
